<h3>Add product</h3>

<ul *ngIf="formSubmitted">
  <li *ngIf="myForm.controls['name'].errors?.['required']">Le nom est obligatoire</li>
  <li *ngIf="myForm.controls['name'].errors?.['minlength']">Le nom est trop court</li>
  <li *ngIf="myForm.controls['supplier'].get('id')?.errors?.['required']">Le supplier est obligatoire</li>
</ul>

<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="category">Category</label>
    <input type="text" id="category" formControlName="category">
  </div>
  <div>
    <label for="description">Description</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>
  <div>
    <label for="price">Price</label>
    <input type="number" id="price" formControlName="price" />
  </div>
  <div>
    <label for="promo">Promo</label>
    <input type="number" id="promo" formControlName="promo" />
  </div>
  <div>
    <label for="active">Active</label>
    <input type="checkbox" id="active" formControlName="active" />
  </div>

  <div formGroupName="supplier">
    <label for="idSupp">sSupplier</label>
    <select formControlName="id" id="idSupp">
      <option *ngFor="let s of suppliers" [value]="s.id">{{s.companyName}}</option>
    </select>
  </div>

  <button type="submit">Send</button>
</form>
